.airport-list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px 5px 5px;
  border: 1px solid #cbd6e2;
  border-radius: 10px;
  width: 800px;
  margin-right: 5px;
}

.airport-namee {
  font-weight: 400;
  font-size: 10px;
  color: #222222;
}
.airport-selection-container {
  width: 100px;
}
.country-name {
  font-size: 14px;
  font-weight: 400;
}
.airport-item-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.edit-button {
  background-color: transparent;
  border: none;
  margin-right: 10px;
}
